*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 10px;
    justify-content: center;
}

.container div{
    background-color: blue;
}

.container .header{
    grid-column: 1/4; 
}

.container .footer{
    grid-column: 1/4;     
}