*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{

    height: 600px;
    display: grid;
    grid-template-areas: "header header header"
                        "menu menu sidebar"
                        "contentLeft contentCenter sidebar"
                        "contentButtom footer footer";
    grid-gap: 5px;
    grid-template-rows: 50px 70px repeat(2,1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.container div{
    background-color: rgb(238, 64, 215);
}

.container .header{
    grid-area: header;
}
.container .menu{
    grid-area: menu;
}
.container .sidebar{
    grid-area: sidebar;
}
.container .contentLeft{
    grid-area: contentLeft;
}
.container .contentRight{
    grid-area: contentRight;
}
.container .contentCenter{
    grid-area: contentCenter;
}
.container .footer{
    grid-area: footer;
}

