main {
    width: 600px;
    margin: auto;

}

header, .col1, .col2, .col3, footer{
    height: 150px;
    background: blue;
    margin-bottom: 30px;

}

header{
    width: 100%;
}

.col1, .col2, .col3{
    width: 180px;
    float: left;
    margin-right: 30px;
}
.row .cell:last-child{
    margin-right: 0;
}
footer{
    clear: both;
}