main {
    width: 600px;
    margin: auto;

}

header, .col1, .col2, .col3, footer{
    height: 150px;
    background: blue;
    margin-bottom: 30px;

}

header{
    width: 100%;
}

.col1, .col2{
    width: 285px;
}
.col1{
    float: left;
}
.col2{
    float: right;
}
.col3{
    clear: both;
    width: 40%;
    margin: 0 auto 30px;
}

main div:nth-child(3){
    margin-right: 0;
}