.devider{
    height: 20px;
    position: relative;
    text-align: center;
}

.devider:after{
    content:'';
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.devider span {
    z-index: 2;
    background-color: white;
    display: inline-block;
    position: relative;
    padding: 0 10px;
}